<h1>Створіть обліковий запис TheCampus</h1>
<md-card>
  <md-tab-group>
    <md-tab>
      <template md-tab-label>
        Викладач
      </template>
      <form>
        <md-input-container>
          <input mdInput placeholder="Email" type="email">
        </md-input-container>
        <md-input-container>
          <input mdInput placeholder="Пароль" type="password">
        </md-input-container>
        <md-input-container>
          <input mdInput placeholder="Повторити пароль" type="password">
        </md-input-container>
        <md-input-container>
          <input mdInput placeholder="Ім'я">
        </md-input-container>
        <md-input-container>
          <input mdInput placeholder="Прізвище">
        </md-input-container>
        <md-select placeholder="Група">
          <md-option>ІТ-41</md-option>
          <md-option>ІТ-42</md-option>
        </md-select>
        <md-select placeholder="Група">
          <md-option>ІТ-41</md-option>
          <md-option>ІТ-42</md-option>
        </md-select>
        <md-input-container>
          <input mdInput placeholder="Номер заліковки">
        </md-input-container>
      </form>
    </md-tab>
    <md-tab>
      <template md-tab-label>
        Студент
      </template>
      <form>
        <md-input-container>
          <input mdInput placeholder="Email" type="email">
        </md-input-container>
        <md-input-container>
          <input mdInput placeholder="Пароль" type="password">
        </md-input-container>
        <md-input-container>
          <input mdInput placeholder="Повторити пароль" type="password">
        </md-input-container>
        <md-input-container>
          <input mdInput placeholder="Ім'я">
        </md-input-container>
        <md-input-container>
          <input mdInput placeholder="Прізвище">
        </md-input-container>
        <md-select placeholder="Група">
          <md-option>ІТ-41</md-option>
          <md-option>ІТ-42</md-option>
        </md-select>
        <md-input-container>
          <input mdInput placeholder="Номер заліковки">
        </md-input-container>
      </form>
    </md-tab>
    <md-tab>
      <template md-tab-label>
        Викладач
      </template>
      <form>
        <md-input-container>
          <input mdInput placeholder="Email" type="email">
        </md-input-container>
        <md-input-container>
          <input mdInput placeholder="Пароль" type="password">
        </md-input-container>
        <md-input-container>
          <input mdInput placeholder="Повторити пароль" type="password">
        </md-input-container>
        <md-input-container>
          <input mdInput placeholder="Ім'я">
        </md-input-container>
        <md-input-container>
          <input mdInput placeholder="Прізвище">
        </md-input-container>
        <md-select placeholder="Група">
          <md-option>ІТ-41</md-option>
          <md-option>ІТ-42</md-option>
        </md-select>
        <md-input-container>
          <input mdInput placeholder="Номер заліковки">
        </md-input-container>
      </form>
    </md-tab>

  </md-tab-group>
</md-card>