<div class="profile-container">
  <h2>Ваша особиста інформація</h2>
  <div class="personal-data">
    <md-list>

      <md-list-item>
        <span class="title">Ім'я</span>
        <span class="desc">{{user}}</span>
        <button md-icon-button (click)="openDialog()">
          <md-icon>mode_edit</md-icon>
        </button>
      </md-list-item>
      <md-divider></md-divider>

      <md-list-item>
        <span class="title">Електронна пошта</span>
        <span class="desc">nazarkalytiuk@gmail.com</span>
        <button md-icon-button>
          <md-icon>mode_edit</md-icon>
        </button>
      </md-list-item>
      <md-divider></md-divider>

      <md-list-item>
        <span class="title">Телефон</span>
        <span class="desc">38 068 93 98 152</span>
        <button md-icon-button>
          <md-icon>mode_edit</md-icon>
        </button>
      </md-list-item>
      <md-divider></md-divider>

      <md-list-item>
        <span class="title">День народження</span>
        <span class="desc">27.10.1996</span>
        <button md-icon-button>
          <md-icon>mode_edit</md-icon>
        </button>
      </md-list-item>
      <md-divider></md-divider>

      <md-list-item>
        <span class="title">Факультет</span>
        <span class="desc">Факультет Інформатики та Обчислювальної Техніки</span>
        <button md-icon-button disabled>
          <md-icon>mode_edit</md-icon>
        </button>
      </md-list-item>
      <md-divider></md-divider>

      <md-list-item>
        <span class="title">Кафедра</span>
        <span class="desc">Автоматики та Управління в Технічних Системах</span>
        <button md-icon-button disabled>
          <md-icon>mode_edit</md-icon>
        </button>
      </md-list-item>
      <md-divider></md-divider>

      <md-list-item>
        <span class="title">Група</span>
        <span class="desc">ІТ-41</span>
        <button md-icon-button>
          <md-icon>mode_edit</md-icon>
        </button>
      </md-list-item>
      <md-divider></md-divider>

      <md-list-item>
        <span class="title">Заліковка</span>
        <span class="desc">ІТ-4112</span>
        <button md-icon-button>
          <md-icon>mode_edit</md-icon>
        </button>
      </md-list-item>
      <md-divider></md-divider>

      <md-list-item>
        <span class="title">Спеціальність</span>
        <span class="desc">Програмна інженерія 6.050103</span>
        <button md-icon-button disabled>
          <md-icon>mode_edit</md-icon>
        </button>
      </md-list-item>
      <md-divider></md-divider>

      <md-list-item>
        <span class="title">Курс</span>
        <span class="desc">3</span>
        <button md-icon-button disabled>
          <md-icon>mode_edit</md-icon>
        </button>
      </md-list-item>
      <md-divider></md-divider>

    </md-list>
  </div>
</div>